body {
	background: linear-gradient(white, lightgrey);
}

h1 {
	color: blue;
}

p {
	color: red;
    margin-left: 5px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.fieldValid {
    border: 2px solid #00ff00;
}

.fieldInvalid {
    border: 2px solid #ff0000;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#input-search-box {
    padding-left: 5px;
    width: 502px;
    line-height: 50px;
    border-top: none !important;
}

.imageboxdiv {
    background: lavender;
    display: inline-block;
    position: relative;    
    border: .5px solid grey;
    width: 500px;
    min-height: 500px;
    /*height: 80%;*/
    overflow: hidden;
    border-top: 50px solid lavender;
}

.imagetext {
    text-align: center;    
    color: white;
    background-color: black;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 25px;
}

.datetext {
    margin-top: -30px; margin-left: 375px; color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px !important;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.tableClass {
    margin-top: 20px;
    margin-right: 20px;
}